{{ if .Site.Home }}

<form
action="https://buttondown.email/api/emails/embed-subscribe/san_tagoy"
method="post"
target="popupwindow"
onsubmit="window.open('https://buttondown.email/san_tagoy', 'popupwindow')"
class="buttondown"
>
<label for="bd-email">Newsletter:</label>
<input type="email" name="email" id="bd-email" />
<input type="submit" value="Thank you!" />
<p>
    <a href="https://buttondown.email/refer/san_tagoy" target="_blank" rel="noopener noreferrer">Powered by Buttondown.</a>
</p>
<p>
    <a href="https://san-tagoy.neocities.org/index.xml" target="_blank">Or subscribe via RSS</a>
</p>
</form>
<hr>
<button class="site-button" onclick="window.location.href='https://san-tagoy.online/';"><img src="/img/site-button.webp" alt="my site button"></button>
<div class="row">
    <button class="other-buttons" target="_blank" onclick=" window.open('https://lostletters.neocities.org/','_blank','noopener, noreferrer')"><img src="/img/buttons/lost-letters.gif" alt="lost letters button"></button>
    <button class="other-buttons" target="_blank" onclick=" window.open('https://yesterweb.org/no-to-web3/','_blank','noopener, noreferrer')"><img src="/img/buttons/nft_sadgrl.gif" alt="sadgrl nft button"></button>
</div>
<hr>
<div class="webrings">
<p class="webring-header">webrings</p>
<div id='neossg'>
    <script type="text/javascript" src="https://neossg.neocities.org/onionring-variables.js"></script>
    <script type="text/javascript" src="https://neossg.neocities.org/onionring-widget.js"></script>
</div>
<div id='focusfirst-webring'>
    <script type="text/javascript" src="https://owlsroost.xyz/webring/onionring-variables.js"></script>
    <script type="text/javascript" src="https://owlsroost.xyz/webring/onionring-widget.js"></script>
    <noscript><a href='https://owlsroost.xyz/index.html'><img src="https://owlsroost.xyz/webring/focusfirst.png" alt="Focus First Index"></a></noscript>
</div>
</div>
{{ end }}