<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
        <main class="page-content" aria-label="Content">
            <div class="w">
                {{- block "main" . }}{{- end }}
                <hr>
                <form
                action="https://buttondown.email/api/emails/embed-subscribe/san_tagoy"
                method="post"
                target="popupwindow"
                onsubmit="window.open('https://buttondown.email/san_tagoy', 'popupwindow')"
                class="buttondown"
                >
                <label for="bd-email">Newsletter:</label>
                <input type="email" name="email" id="bd-email" />
                <input type="submit" value="Thank you!" />
                <p>
                    <a href="https://buttondown.email/refer/san_tagoy" target="_blank">Powered by Buttondown.</a>
                </p>
                <p>
                    <a href="https://san-tagoy.neocities.org/index.xml" target="_blank">Or subscribe via RSS</a>
                </p>
                </form>
                <hr>
                <button class="site-button" onclick="window.location.href='https://san-tagoy.online/';"><img src="/img/site-button.webp" alt="my site button"></button>
            </div>
            <div id='neossg'>
                <script type="text/javascript" src="https://neossg.neocities.org/onionring-variables.js"></script>
                <script type="text/javascript" src="https://neossg.neocities.org/onionring-widget.js"></script>
            </div>
        </main>
    </body>
</html>
