// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: #b9aec3; }

html { height: 100%; }

@font-face {
  font-family: barlow;
  src: url("/fonts/barlow/Barlow-Regular.woff2") format("woff2");
}

@font-face {
  font-family: barlow;
  src: url("/fonts/barlow/Barlow-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: barlow;
  src: url("/fonts/barlow/Barlow-Italic.woff2") format("woff2");
  font-style: italic;
}

body, form {
  color: #1d1d10;
  font-family: barlow;
  font-size: 17px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: #ffffc2; }

.w {
  max-width: 650px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.site-button {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  outline: none;
  border: none;
  background-color: #b9aec3;
  img {
    margin: 0 0;
    border-radius: 10px;
  }
}

.site-button:active {
  transform: translateY(1px);
}

.buttondown {
  text-align: center;
}

.toc {
  border: thin solid #1d1d10;
  padding: 1rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

pre {
  background: #1d1d10;
  padding: 1em;
  overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
}

table { width: 100%; }

table, th, td {
  border: thin solid #1d1d10;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: #b9aec3;
  background: #1d1d10; 
  font-size: 80%;
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

blockquote {
  font-style: italic;
  border: thin solid #1d1d10;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}

.sitelogo {
  max-width: 175px;
  margin: 0 auto;
}

a:link {
  text-decoration: none;
  color: #7c6a00
}

a:visited {
  color: #9f1900;
}

a:hover {
  font-weight: bold;
  text-decoration: none;
}

a:active {
  color: #b9aec3;
  background-color: #9f1900;
  text-decoration: none;
}

.half {
  max-width: 50%;
  margin: 0 auto;
}

.float-left {
  float: left;
  padding-bottom: 15px;
}

.float-right {
  float:right;
  margin-bottom: 15px;
}

.itch-frame {
  display: block;
  margin: 0 auto;
}
